
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    --pink: #e077b1;    
}

@font-face {
    font-family: Director-regular;
    src: url(Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(Director-bold.otf);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a:hover {
    color:#ffffff;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    cursor: pointer;
} 

a {
    color: black;
    text-decoration: none;
}

.imghover img:hover {transform:scale(1.15);
    filter: drop-shadow(0px 0px 10px var(--pink));
}

img{
    margin-left: 10%;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.75s;
}

.navcontainer {
    position:fixed;
    top:5vh;
    left:3vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: left;
}

.title {
    color: var(--pink);
    font-family: Director-bold;
    padding: 5px;
    background-color: white;
    font-size: 1rem;
    overflow: hidden;
    border-right: .15em solid var(--pink); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(20, end),
      blink-caret .75s step-end infinite;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--pink); }
}

.pixelgreenhouse {
    position:fixed;
    top:-12vh;
    left:-7vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    cursor:grab;
}

.bambigreenhouse {
    position:absolute;
    top:500px;
    left:390px
}

.pileagreenhouse {
    position:absolute;
    top:490px;
    left:500px
}

.rosagreenhouse {
    position:absolute;
    top:570px;
    left:770px
}

.pothosgreenhouse {
    position:absolute;
    top:355px;
    left:696px
}

.sonnygreenhouse {
    position:absolute;
    top:410px;
    left:990px
}

.wateringcangreenhouse {
    position:absolute;
    top:400px;
    left:900px;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.scissorsgreenhouse {
    position:absolute;
    top:650px;
    left:660px;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.fertilizergreenhouse {
    position:absolute;
    top:600px;
    left:960px;
}

.bookgreenhouse {
    position:absolute;
    top:684px;
    left:110px
}

.ecosystemgreenhouse {
    position:absolute;
    top:800px;
    left:1150px
}

.ecosystemgreenhouse:hover {
    transform:scale(1.10);
    filter: drop-shadow(0px 0px 10px #f4b3ff);
}


.pagecontainer {
    position: fixed;
    width: 100vw;
    height:100vh;
}