
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;       
}

/* html, body { height: 4800px } */

@font-face {
    font-family: Director-regular;
    src: url(Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(Director-bold.otf);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    font-family: Director-regular;
    font-size: 24pt;
    font-weight: 700;
    padding-bottom: 14px;
}

a:hover {
    color:#ffffff;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    cursor: pointer;
} 

a {
    color: black;
    text-decoration: none;
}

.imghover img:hover {transform:scale(1.15);
    filter: drop-shadow(0px 0px 10px #7BA362);
}

img{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
}

.navcontainer {
    position:fixed;
    top:2vh;
    left:3vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: left;
}

.child1{
    margin-top: 8vh;
    margin-bottom: 40px;
}

.buttoncarelog {
    transition: all ease-in cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: Director-regular;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    width:fit-content;
    transform: rotate(8deg);
}

.buttoncarelog:hover {
    transition: all ease-out 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67); 
    transform: translateY(-2.5px);
    color:#ffffff;
    border: 1px solid #7BA362;
    background: #7BA362;
    cursor: pointer;
    box-shadow: 0 0 15px #7BA362;
    -webkit-animation: shake .75s ease-in-out infinite alternate;
}


.buttonflowerfield {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: white;
    font-family: Director-regular;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    width:fit-content;
    transform: rotate(-4deg);
}

.buttonflowerfield:hover {
    transition: all ease-out 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67); 
    transform: translateY(-2.5px);
    color:#ffffff;
    border: 1px solid #7BA362;
    background: #7BA362;
    cursor: pointer;
    box-shadow: 0 0 15px #7BA362;
    -webkit-animation: shake .75s ease-in-out infinite alternate;
}

.buttonecosystem {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: white;
    font-family: Director-regular;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    width:fit-content;
    transform: rotate(3deg);
}

.buttonecosystem:hover {
    transition: all ease-out 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67); 
    transform: translateY(-2.5px);
    color:#ffffff;
    border: 1px solid #7BA362;
    background: #7BA362;
    cursor: pointer;
    box-shadow: 0 0 15px #7BA362;
    -webkit-animation: shake .75s ease-in-out infinite alternate;
}


.flower {
    position: absolute;
    font-size: 40pt;
    color: #7BA362;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@-webkit-keyframes shake {
    from {
        -webkit-transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-5deg);
        -webkit-transform-origin: center center;
    }
  }

.currentpage {
    color: #7BA362;
    font-family: Director-bold;
    padding: 10px;
    background-color: white;
    font-size: 10pt;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #7BA362; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7BA362; }
  }

.musicnote {
    position: fixed;
    bottom: 2vh;
    left:2vw;
    font-size: 30pt;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    /* background-color: white; */
}

.musicnote:hover {
    transform:scale(1.05);
    filter: drop-shadow(0px 0px 2px #616161);
    cursor: pointer;
}

.musicnote.paused {
    position: fixed;
    bottom: 2vh;
    left:2vw;
    font-size: 30pt;
    color: #c7c7c7;
    /* background-color: white; */
}

img {
    margin-left: 10%;

}

.pixelgreenhouse {
    position:fixed;
    top:-12vh;
    left:-7vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    cursor:grab;
}

.bambigreenhouse {
    position:absolute;
    top:500px;
    left:390px
}

.pileagreenhouse {
    position:absolute;
    top:490px;
    left:500px
}

.rosagreenhouse {
    position:absolute;
    top:570px;
    left:770px
}

.pothosgreenhouse {
    position:absolute;
    top:355px;
    left:696px
}

.sonnygreenhouse {
    position:absolute;
    top:410px;
    left:990px
}

.wateringcangreenhouse {
    position:absolute;
    top:400px;
    left:900px;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.scissorsgreenhouse {
    position:absolute;
    top:650px;
    left:660px;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.fertilizergreenhouse {
    position:absolute;
    top:600px;
    left:960px;
}

.bookgreenhouse {
    position:absolute;
    top:684px;
    left:110px
}

.bookgreenhouse:hover {
    transform:scale(1.10);
    filter: drop-shadow(0px 0px 10px #7BA362);
}

.cloudsgreenhouse {
    position:absolute;
    top:0px;
    left:1242px
}

.cloudsgreenhouse:hover {
    transform:scale(1.05);
    filter: drop-shadow(0px 0px 12px #98c9ec);
}

.flowerfield {
    position:absolute;
    top:675px;
    left:1340px
}

.flowerfield:hover {
    transform:scale(1.04);
    filter: drop-shadow(0px 0px 15px #f4b3ff);
}

.ecosystemgreenhouse {
    position:absolute;
    top:800px;
    left:1150px
}

.ecosystemgreenhouse:hover {
    transform:scale(1.10);
    filter: drop-shadow(0px 0px 10px #f4b3ff);
}


.pagecontainer {
    position: fixed;
    width: 100vw;
    height:100vh;
}