
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    --pink: #e077b1;    
}

@font-face {
    font-family: Director-regular;
    src: url(Director-Regular.otf);
}

@font-face {
    font-family: Director-bold;
    src: url(Director-bold.otf);
}

@font-face {
    font-family: Standard-book;
    src: url(standard-book.otf);
}

body {
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a:hover {
    color:#ffffff;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    cursor: pointer;
} 

a {
    color: black;
    text-decoration: none;
}

.imghover img:hover {transform:scale(1.10);
    filter: drop-shadow(0px 0px 10px var(--pink));
}

img{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.75s;
}

.navcontainer {
    position:fixed;
    top:5vh;
    left:3vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: left;
}

.title {
    color: var(--pink);
    font-family: Director-bold;
    padding-right: 7px;
    background-color: white;
    font-size: 1rem;
    overflow: hidden;
    border-right: .15em solid var(--pink);
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
      typing 2.5s steps(20, end),
      blink-caret .75s step-end infinite;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--pink); }
}

.pagecontainer {
    position: fixed;
    width: 100vw;
    height:100vh;
}

.room {
    position:fixed;
    top:-10vh;
    left:-7vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    cursor:grab;
}

.me {
    position:absolute;
    top:520px;
    left:950px;
    cursor: grab;
}

.laptop {
    position:absolute;
    top:365px;
    left:695px;
    cursor: grab;
}

.heytea {
    position:absolute;
    top:295px;
    left:925px;
    cursor: grab;
}

.door {
    position:absolute;
    top:246px;
    left:1103px;
}

.window {
    position:absolute;
    top:150px;
    left:650px
}

.headphones {
    position:absolute;
    top:570px;
    left:770px;
    transform: rotate(-35deg);
}

.job {
    position:absolute;
    top:1270px;
    left:300px;
}


.egg {
    position:absolute;
    top:1270px;
    left:300px;
}

#mebox, #laptopbox, #doorbox, #heyteabox, #windowbox, #headphonesbox, #jobbox {
    position: absolute;
    width: 33vw;
    margin-left: 33vw;
    align-items: center;
    justify-content: center;
    bottom: 5vw;
    font-family: Director-bold;
    background-color: white;
    font-size: 1rem;
    padding: 25px;
    border: 3px solid black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  #mebox.bar, #laptopbox.bar, #doorbox.bar, 
  #heyteabox.bar, #windowbox.bar, #headphonesbox.bar, #jobbox.bar {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  

.landing {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 1.5s ease, visibility 0s linear 1.5s;
    cursor: pointer;
    visibility: visible;
}
  
.hidden {
    opacity: 0;
    visibility: hidden; /* flips after opacity finishes */
}  

h1 {
    font-family: Director-bold;
    color: var(--pink);
    font-size: 2rem;
}
